In [27]:
##Importing libraries
import sqlite3
import json
import requests
import os

In [2]:
api_url="http://api.petpooja.com/V1/orders/get_sales_data"

In [30]:
##fetching data from api and changing the field
response=requests.get(api_url)
data=response.json()
type(data)
transformed_data = {
        "Sale Date": data.get("Receipt Date"),
        "Transaction ID": data.get("Receipt number"),
        "Sale Amount": data.get("Invoice amount"),
        "Discount Amount": data.get("Discount amount"),
        "Tax Amount": data.get("Tax amount"),
        "Final Sale Amount": data.get("Net sale"),
        "Sale Type": data.get("Transaction status")#sale/return
    }

In [31]:
#converting dictionary to json
json_data=json.dumps(transformed_data)

In [32]:
##displaying  data
print(json_data)

{"Sale Date": null, "Transaction ID": null, "Sale Amount": null, "Discount Amount": null, "Tax Amount": null, "Final Sale Amount": null, "Sale Type": null}

In [34]:
## importing sqlite3 and creating database
import sqlite3
conn=sqlite3.connect('sales_data.db')
cursor=conn.cursor()

In [35]:
##table creation
cursor.execute("""
CREATE TABLE IF NOT EXISTS sales_data (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    receipt_number TEXT,
    sale_date TEXT,
    transaction_time TEXT,
    sale_amount REAL,
    tax_amount REAL,
    discount_amount REAL,
    round_off REAL,
    net_sale REAL,
    payment_mode TEXT,
    order_type TEXT,
    transaction_status TEXT
);
""")

In [36]:
##insert query
cursor.execute("""INSERT INTO sales_data (receipt_number, sale_date, transaction_time, sale_amount, tax_amount, discount_amount, round_off, net_sale, payment_mode, order_type, transaction_status)
VALUES ('12345', '2025-02-14', '10:30:00', 100, 5, 10, 0.5, 95.5, 'Credit Card', 'Dine-In', 'SALE');
""")

In [37]:
conn.commit()

In [38]:
##fetching data query
cursor.execute("SELECT * FROM sales_data")
rows = cursor.fetchall()

In [39]:
print("Data in sales_data table:")
for row in rows:
    print(row)

Data in sales_data table:
(1, '12345', '2025-02-14', '10:30:00', 100.0, 5.0, 10.0, 0.5, 95.5, 'Credit Card', 'Dine-In', 'SALE')

In [ ]:
conn.close()## close sql connection